@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@media screen and (max-width: 1448px){

    header, .section1, footer, .hero-class, .copy-hero{
        padding: 20px 20px;
    }
}

@media screen and (max-width: 647px){
    h1, .copy-hero{
        font-size: 40px;
        margin: 0px;
    }

    h2{
        font-size: 32px;
    }

    .section1{
        padding: 80px 20px;
        flex-wrap: wrap;
    }

    .section1-content{
        flex-wrap: wrap;
        gap: 40px;
    }

    .section1-copy{
        gap: 20px;
    }

    .inputs-line, .inputs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px;
        width: 100%;
    }

    .cards-line, .list-opinion{
        flex-wrap: wrap;
        margin: auto;
        padding: 0px;
    }

    .opinion{
        width: 100%;
    }

    .logos-casas, .logotipos-casas-de-apostas{
        align-items: center;
        align-content: center;
        margin: auto;
        padding: 0px;
        gap: 20px;
    }

    .logos-casas > li{
        display: flex;
        margin: auto;
        padding: 0px;
        gap: 20px;
    }

    .content-mapa{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .navbar-links, .button-solid{
        display: none;
    }
    
    .form-content{
        max-width: 90vh;
    }

    .card{
        width: 100%;
    }
}