@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #14171A;
    margin: 0px;
    padding: 0px;
    font-family: Inter;
    font-weight: medium;
    background-color: #14171A;
    color: white;
}

header{
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 24px 0px;
    max-width: 1422px;
}

header > img{
    height: fit-content;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

ul > li{
    padding: 14px 20px;
    list-style: none;
}

ul > li > a{
    text-decoration: none;
    color: white;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: 0px;
}

.button-solid{
    padding: 14px 20px;
    border-radius: 999px;
    background-color: #fff;
    color: #19191A;
    height: fit-content;
    text-decoration: none;
}

.hero-class{
    padding: 0px 80px 0px 120px;
}

.copy-hero{
    display: flex;
    max-width: 1422px;
    margin: auto;
}

.copy-hero > h1{
    max-width: 684px;
}

h1{
    font-size: 88px;
    font-weight: 600;
}

.section1{
    display: flex;
    padding: 80px 0px;
}

.section1-content{
    display: flex;
    max-width: 1422px;
    gap: 48px;
    margin: auto;
}

.section1-copy{
    display: flex;
    flex-direction: column;
    gap: 302px;
    justify-content: space-between;
}

h2{
    font-size: 48px;
    margin: 0px;
}

.h2-cinza{
    opacity: 40%;
}

.section1-copy > div > p{
    max-width: 440px;
    opacity: 80%;
    margin: 0px;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cards-line{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#card-unic{
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 32px;
    border: 1px solid #42CA71;
    border-radius: 32px;
    padding: 32px;
    min-width: 322px;
    color: #42CA71;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 32px;
    border: 1px solid #272728;
    border-radius: 32px;
    padding: 32px;
    min-width: 322px;
}

.card-titles{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-titles > h3{
    margin: 0px;
    font-size: 40px;
}

.card-titles > p{
    margin: 0px;
}

.card > p{
    margin: 0px;
    font-size: 12px;
}

#h2-cinza-unic , #h2-branco-unic{
    text-align: center;
}

.logotipos-casas-de-apostas{
    padding: 24px 0px;
}

.logos-casas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.mapa > img{
    display: flex;
    margin: auto;
    padding: 80px 0px;
    width: 100%;
    max-width: 988.48px;
}

#section-opinion{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.img-section01{
    width: 100%;
    max-width: 684px;
}

.list-opinion{
    display: flex;
    gap: 48px;
    flex-direction: row;
}

.opinion{
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid #272728;
    border-radius: 32px;
    padding: 32px;
    width: 100%;
}

.opinion > p{
    margin: 0px;
}

.opinion > #opinion-autor{
    opacity: 40%;
}